@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-sidebar-bg: #0f1115;
  --color-sidebar-border: #1f242d;
}

html, body, #root { height: 100%; }

/* Scrollbar subtle */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #111; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #444; }
